/* global styling */

body {
    font-family: 'Cormorant SC', serif;
    text-align: center;
    font-weight: bolder;
    position: relative;
}

/* welcome page body */

#welcome-page {
    margin: 0;
    background-color: rgb(22, 163, 180, 0.6);
}

/* background image */

#background {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}

/* titles */
h1 {
    margin-top: 0;
}

/* greeting */

.welcome {
    margin: 2em;
    font-size: 1.5em;
}

/* links */

.links {
    color: black;
    text-decoration: none;
    border: 2.5px dotted black;
    border-radius: 25px;
    margin: 0 auto;
    padding: 0.5em;
}

.links:hover {
    font-size: 1.3em;
}

/* rules area */

.game-rules {
    width: 60%;
    margin: 2em auto;
    font-size: 1.2em;
}

.rules-title {    
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 3px;
}

/* rules image */

#rules-img {
    width: 25%;
}

/* rules video */

#video-div {
    margin: 2em auto 0;
}

#video {
    border-radius: 25px;
}

/* GAME PAGE */

/* game zone */

.game-zone {
    background: url(../images/background.jpg) no-repeat center center;
    background-size: 100%;
    border-radius: 25px;

    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.player, .computer {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 1em auto;
}

.images {
    width: 180px;
    margin: 1.2em;
}

/* results div */

#result {
    height: 1.2em;
    margin: 2em auto;
}

/* font awesome button choices */

.choices button {
    margin: 1.5em;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 25px;
}

.fa-solid {
    font-size: 5em;
}

#rock{
    background-color: #ebc9c3;
}

#rock:hover {
    background-color: #eca295;
}

#paper {
    background-color: #f0edaa;
}

#paper:hover {
    background-color: #e6df6b;
}

#scissors {
    background-color: #f2bcd4;
}

#scissors:hover {
    background-color: #f08cb9;
}

#lizard {
    background-color: #c3e6af;
}

#lizard:hover {
    background-color: #92da69;
}

#spock {
    background-color: #7dc4ed;
}

#spock:hover {
    background-color: #299ee2;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1460px) {
    .player, .computer {
        width: 400px;
        height: 400px;
    }

    .images {
        width: 220px;
        margin: 2em;
    }
}

@media screen and (max-width: 768px) {
    #rules-img {
        width: 70%;
    }

    #video {
        width: 300px;
    }

    .player, .computer {
        width: 200px;
        height: 200px;
    }

    .scores {
        margin: 0.5em;
    }

    .scores, #pScore, #cScore {
        font-size: 0.7em;
    }

    .images {
        width: 120px;
        margin: 1em;
    }

    .fa-solid {
        font-size: 3em;
    }
}

@media screen and (max-width: 530px) {
    .player, .computer {
        width: 170px;
        height: 170px;
    }

    .images {
        width: 100px;
        margin: 1em;
    }

    .fa-solid {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 425px) {
    .player, .computer {
        width: 140px;
        height: 140px;
    }

    .scores, #pScore, #cScore {
        font-size: 0.5em;
    }

    .player, .computer {
        width: 130px;
        height: 130px;
    }

    .images {
        width: 80px;
        margin: 0.4em;
    }

    .fa-solid {
        font-size: 2em;
    }

    .choices button {
        margin: 0.5em;
        padding: 0.5em;
    }
}